@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #3d4451;
  color: white;
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
}

summary::-webkit-details-marker {
  display: none;
}
